{{#if productos.length}}
<h2 class="text-dark m-3 me-auto">Productos</h2>
<br>
<div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-dark table-bordered table-striped mb-0">
        <thead>
            <tr>
                <th class="text-center text-light" scope="col">ID</th>
                <th class="text-center text-light" scope="col">Nombre</th>
                <th class="text-center text-light" scope="col">Precio</th>
                <th class="text-center text-light" scope="col">Imagen</th>
            </tr>
        </thead>
        {{#each productos}}
        <tbody>
            <tr>
                <th scope="row" class="text-center text-light">{{this.id}}</th>
                <td class="text-center text-light">{{this.name}}</td>
                <td class="text-center text-light">${{this.price}}</td>
                <td class="text-center text-light"><img src="{{this.src}}" alt="1" width="100px"></td>
            </tr>
        </tbody>
        {{/each}}
    </table>

</div>
{{else}}
<h2 class="text-dark m-3 me-auto">No hay Productos :s</h2>
<br>
{{/if}}